Package: ros-melodic-lugo
Version: 0.0.0-0bionic
Architecture: amd64
Maintainer: fldec <fldec@todo.todo>
Installed-Size: 135
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2), ros-melodic-message-generation, ros-melodic-message-runtime, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-std-msgs
Section: misc
Priority: optional
Description: The lugo package
